.primary {
    width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
      border: 1px solid var(--border1);
      box-shadow: var(--box-shadow0);
      padding: 18px;

      & > a {
        color: #000;
        font-size: 14px;
      }
}

.secondary {
    width: 100%;
    max-width: 128px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: var(--box-shadow0);
    display: flex;
    justify-content: center;
    align-items: center;

    & > strong {
        font-size: 14px;
        font-weight: 400;
        color: var(--font-color1);
    }

}


.carouselButton {
  padding: 10px;
  width: 40px;
  height: 40px;
  border: var(--border0);
  background-color: var(--background-color6);
  border-radius: 10px;
}

.buttonToogle {
  border: none;
    border-radius: 20px;
    padding: 11px 10px;
    border-radius: 30px;
    background-color: var(--background-color2);
    display: flex;
    align-items: center;
}