.categoryContainer {
  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h3 {
      font-size: 24px;
      color: #fff;
      font-weight: 400;
    }
    & > div:nth-child(2) {
        background-color: var(--background-color5);
        border: 1px solid #000;
        border-radius: 20px;
        width: 100%;
        max-width: 172px;
        height: 20px;
        
      & > span {
        background-color: var(--background-color3);
      }
    }

  }
   & > ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 34px;
    overflow-x: hidden;
    width: 100%;
    max-width: 1069;
    justify-content: space-between;
    margin-bottom: 28px;


    & > li {
      width: 100%;
      max-width: 128px;

    }
   }

   & > div:nth-child(3) {
    display: flex;
    justify-content: end;
   
    & > button:nth-child(1) {
      margin-right: 6px;
    }
  
  }
}
